{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block header %}Сообщения{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      {% include "posts/card_profile.html" %}
      <br>
      {% include "posts/card_message.html" %}
    </div>
    <div class="col-md-9">
      {% for message in page %}
      {% include "posts/card_one_message.html" %}
      {% endfor %}
      {% include "misc/paginator.html" %}
    </div>
  </div>
</main>

{% endblock %}