{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3 mb-3 mt-1">
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h4">
              Яковлев Юрий Игоревич
            </div>
          </li>
          <li class="list-group-item">
            Санкт-Петербург
          </li>
          <li class="list-group-item">
            Python Backend Developer
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <div class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-dark">
            Технологический стек
          </li>
          <li class="list-group-item">
            Python 3
          </li>
          <li class="list-group-item">
            Django 2 / 3
          </li>
          <li class="list-group-item">
            <a href="https://github.com/kkkyifut/social-network/tree/main/yatube/posts/tests/"
              target="_blank">Unittest</a>
          </li>
          <li class="list-group-item">
            SQLite
          </li>
          <li class="list-group-item">
            <a href="/api/v1/" target="_blank">REST API</a> (<a
              href="{% url 'schema-swagger-ui' %}" target="_blank">Swagger</a>) (<a
              href="{% url 'schema-redoc' %}" target="_blank">redoc</a>)
          </li>
          <li class="list-group-item">
            <a href="https://github.com/kkkyifut/social-network/" target="_blank">git</a>
          </li>
          <li class="list-group-item">
            English level A1-A2
          </li>
          <li class="list-group-item disabled">

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}