{% extends "base.html" %}
{% block title %}Всякое{% endblock %}
{% block header %}Теория и практика{% endblock %}
{% block content %}

<div class="row">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">
        Литература
      </li>
      <li class="list-group-item list-group-item-action">
        Эрик Мэтиз -
        <a href="https://www.litres.ru/erik-metiz/izuchaem-python-programmirovanie-igr-vizualizaciya-dan-64070132/" target="_blank">
          Изучаем Python. Программирование игр, визуализация данных, веб-приложения</a>
      </li>
      <li class="list-group-item list-group-item-action">
        Адитья Бхаргава -
        <a href="https://www.litres.ru/aditya-bhargava/grokaem-algoritmy-illustrirovannoe-posobie-dlya-p-39158380/" target="_blank">
          Грокаем алгоритмы</a>
      </li>
      <li class="list-group-item list-group-item-action">
        Владимир Дронов -
        <a href="https://www.labirint.ru/books/761250/" target="_blank">
          Django 3.0. Практика создания веб-сайтов на Python</a>
      </li>
      <li class="list-group-item list-group-item-light">
        (<span style="color:red">O’Reilly</span>)
        Билл Любанович - Простой Python. Современный стиль программирования
      </li>
      <li class="list-group-item list-group-item-light">
        Дэн Бейдер - Чистый Python. Тонкости программирования для профи
      </li>
      <li class="list-group-item list-group-item-light">
        Ли Воган - "Непрактичный" Python
      </li>
      <li class="list-group-item list-group-item-light">
        Алексей Васильев - Программирование на Python в примерах и задачах
      </li>
      <li class="list-group-item list-group-item-light">
        Марк Лутц - Изучаем Python
      </li>
    </ul>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">
        Всякое
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="https://www.youtube.com/playlist?list=PLRDzFCPr95fK7tr47883DFUbm4GeOjjc0" target="_blank">
          Тимофей Хирьянов - Алгоритмы и структуры данных на Python 3
        </a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="https://practicum.yandex.ru/backend-developer/" target="_blank">
          Яндекс.Практикум - Python-разработчик
        </a>
      </li>
      <li class="list-group-item">

      </li>
    </ul>
  </div>
</div>

{% endblock %}